.product{
    width: 324px;
    height: 524px;
    border: 1px solid #95A0A7;
    padding: 7px;
    border-radius: 10px;
}
.product img{
    width: 324px;
    height: 324px;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}